@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar{
    display: flex;
    align-items: center;
}
.navbar-section{
    height: 100%;
}
.slide-transition {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}